<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Suggest API</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Livvic">
    <style>
        body{
            font-family: 'Livvic', Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            background-color: bisque;
        }
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin:5vh 0 ;
            width: 100vw;
        }
        footer{
            display: flex;
            position: fixed;
            bottom: 0;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin:1vh 0 ;
            border-top: 1px solid black;
            width: 100vw;
            background-color: bisque;
            
            padding: 1rem;
        }
    </style>
</head>
<body>
    <div class="content">
    <h1>Search Suggest API</h1>
    <p>Search Suggest API is a simple API that returns a list of suggested search terms based on the user's input.</p>
    <h3>Usage</h3>
    <p>Send a GET request to the following URL:</p>
    <a href="https://searchsuggestionapinodejs.herokuapp.com/suggest/query" >https://searchsuggestionapinodejs.herokuapp.com/suggest/query</a>
    <p>with your URL parameters as 'query'</p>
    </div>
    <div class="content">
        <h4>Try Entering 'Mobile phones'</h4>
        <form action="#">
            <label for="query">Query:</label>
            <input type="text" autocomplete="off" id="query" name="query" placeholder="Enter your query here">
            <input type="submit" class="submit" value="SEND">
        </form>
    </div>
    <!-- <div>Total Requests : <%= count %> </div> -->
    <footer>
        <p>Created by Poojyanth</p>
    </footer>

    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const query = document.querySelector('#query').value;
            window.location.href = `https://searchsuggestionapinodejs.herokuapp.com/suggest/${query}`;
        })
    </script>
</body>
</html>